h3 {
  color: #ffda00;
}
.login {
  margin-top: 100px;
}
.login .card {
  background: rgba(0, 0, 0, 0.5);
}
.login label {
  font-size: 16px;
  color: #ffffff;
}
.login input {
  font-size: 22px !important;
}
.login button:hover {
  padding: 0px 40px;
  background-color: #ffe966;
  color: black;
}
.btn-large {
  background-color: #ffda00;
  color: black;
}
.material-icons {
  color: white;
  position: relative;
  top: 10px;
}
input {
  font-weight: bold;
  font-size: 20px !important;
  color: white;
  padding-left: 50px;
}
